In [1]:
import pandas as pd

In [2]:
data = {'Region' : ['Korea', 'America', 'Chaina', 'Canada', 'Italy'],
        'Sales' : [300, 200, 500, 150, 50],
        'Amount' : [90, 80, 100, 30, 10],
        'Employee' : [20, 10, 30, 5, 3]
        }

In [3]:
s = pd.Series(data)
s

Region      [Korea, America, Chaina, Canada, Italy]
Sales                      [300, 200, 500, 150, 50]
Amount                        [90, 80, 100, 30, 10]
Employee                         [20, 10, 30, 5, 3]
dtype: object

In [5]:
s.Region

['Korea', 'America', 'Chaina', 'Canada', 'Italy']

In [6]:
s['Region']

['Korea', 'America', 'Chaina', 'Canada', 'Italy']

In [4]:
d = pd.DataFrame(data)
d

    Region  Sales  Amount  Employee
0    Korea    300      90        20
1  America    200      80        10
2   Chaina    500     100        30
3   Canada    150      30         5
4    Italy     50      10         3

In [1]:
d['Region']

NameError: name 'd' is not defined

In [2]:
def bubbleSort(x):
	length = len(x)-1
	for i in range(length):
		for j in range(length-i):
			if x[j] > x[j+1]:
				x[j], x[j+1] = x[j+1], x[j]
	return x

In [3]:
a=[1, 4, 2, 8, 6, 7]
bubbleSort(a)

[1, 2, 4, 6, 7, 8]