In [14]:
import pandas as pd

In [15]:
data = {'Region' : ['Korea', 'America', 'China', 'Canada', 'Italy'],
        'Sales' : [300, 200, 500, 150, 50],
        'Amount' : [90, 80, 100, 30, 10],
        'Employee' : [20, 10, 30, 5, 3]
        }

In [16]:
s = pd.Series(data)
s

Region      [Korea, America, China, Canada, Italy]
Sales                     [300, 200, 500, 150, 50]
Amount                       [90, 80, 100, 30, 10]
Employee                        [20, 10, 30, 5, 3]
dtype: object

In [17]:
s.Region

['Korea', 'America', 'China', 'Canada', 'Italy']

In [18]:
s['Region']

['Korea', 'America', 'China', 'Canada', 'Italy']

In [19]:
d = pd.DataFrame(data)
d

    Region  Sales  Amount  Employee
0    Korea    300      90        20
1  America    200      80        10
2    China    500     100        30
3   Canada    150      30         5
4    Italy     50      10         3

In [24]:
d['Region']

0      Korea
1    America
2      China
3     Canada
4      Italy
Name: Region, dtype: object

In [29]:
def bubbleSort(x):
	length = len(x)-1
	for i in range(length):
		for j in range(length-i):
			if x[j] > x[j+1]:
				x[j], x[j+1] = x[j+1], x[j]
	return x

In [22]:
a=[1, 4, 2, 8, 6, 7]
bubbleSort(a)

[1, 2, 4, 6, 7, 8]

In [25]:
print("hello world")

hello world