In [65]:
import sqlite3

In [66]:
# [이름].[확장자명]의 형태로 저장하면 됩니다.

import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path) # mydb.db에 연결합니다.
print(conn)

<sqlite3.Connection object at 0x7f6b5cd4a1f0>

conn 객체에는 SQL 연결과 관련된 셋팅이 포함되어 있습니다. 이번에는 Connect() 함수의 연결을 사용하는 새로운 Cursor 객체를 만듭니다.

In [67]:
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7f6b5cd419d0>

Cursor는 SQL 질의(Query)를 수행하고 결과를 얻는데 사용하는 객체. INSERT처럼 DB에만 적용되는 명령어를 사용한다면 Cursor를 안 사용할 수 있지만 SELECT와 같이 데이터를 불러올 때는 SQL 질의 수행 결과에 접근하기 위한 Cursor가 반드시 필요. 이러한 이유로 습관적으로 conn.cursor()를 사용하는 것을 권장. 참고로, 파이썬 공식 개발 가이드에서도 Cursor를 사용하는 것을 표준으로 안내하고 있다.
- SQL INSERT문 : 테이블에 데이터를 삽입(추가)하는 질의
- SQL SELECT문 : 테이블에 데이터를 조건에 따라 조회하는 질의

In [68]:
# stocks라는 이름의 테이블 하나 생성
c.execute("CREATE TABLE IF NOT EXISTS stocks (date text, trans text, symbol text, qty real, price real)")

# stocks 테이블에 데이터를 하나 인서트 합니다.
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# 방금 인서트한 데이터를 조회해봅니다.
c.execute("SELECT * FROM stocks")

# 조회된 내역을 커서를 통해 가져와 출력해 봅니다.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

# commit
삽입, 갱신, 삭제 등의 질의가 끝났더면 `conn.commit()`을 호출해야 DB가 실제로 업데이트된다. `commit()` 을 하기 전에는 DB에 데이터가 업데이트된 것 같아 보여도 임시로만 바뀐 것이니 주의.   
`conn.commit()`을 호출하기 전까지는 그 `connection`안에서만 유효하다.   
원본 데이터에 실제로 적용하려면 `commit()`

In [69]:
# commit()은 cursor의 메소드가 아니라 connection의 메소드
conn.commit()

`commit()`을 통해 데이터베이스에 데이터 변경이 실제적으로 반영되었습니다. 이런 것을 데이터베이스에서는 `트랜잭션(transaction) 관리`라고 합니다. ("쪼개질 수 없는 업무처리의 단위")   
- 롤백(Rollback): 부분 작업이 실패하면 트랜잭션 실행 전으로 되돌린다.

- 커밋(Commit): 모든 부분작업이 정상적으로 완료하면 이 변경사항을 한꺼번에 DB에 반영한다.   
   
ACID(Atomicity, Consistency, Isolation, Durability)는 데이터베이스 트랜젝션이 안전하게 수행된다는 것을 보장하기 위한 성질을 가리키는 약어   

- 원자성(Atomicity): 트랜잭션에 속한 작업들이 모두 수행되었는지 아니면 모두 실행이 안되었는지를 보장하는 능력이다. 즉, 중간 단계까지 실행되고 실패하는 일은 없도록 하는 것이다.

- 일관성(Consistency)은 트랜잭션이 실행을 성공적으로 완료하면 언제나 일관성 있는 데이터베이스 상태로 유지하는 것을 의미한다.

- 고립성(Isolation)은 트랜잭션을 수행 시 다른 트랜잭션의 연산 작업이 끼어들지 못하도록 보장하는 것을 의미한다.

- 지속성(Durability)은 성공적으로 수행된 트랜잭션은 영원히 반영되어야 함을 의미한다.

출처: https://sjh836.tistory.com/11 [빨간색코딩]

In [70]:
# commint()이후 마무리
c.close()
conn.close()

# SQL 구조
데이터 정의 언어 - ( DDL : Data Definition Language )

 └ 테이블이나 관계의 구조를 생성하는데 사용하며 CREATE, ALTER, DROP,TRUNCATE 문 등이 있다.
 

- CREATE - 새로운 데이터베이스 관계 (테이블) View, 인덱스 , 저장 프로시저 만들기.

- DROP - 이미 존재하는 데이터베이스 관계 ( 테이블 ) , 뷰 , 인덱스 , 저장 프로시저를 삭제한다.

- ALTER - 이미 존재하는 데이터베이스 개체에 대한 변경 , RENAME의 역할을 한다.

- TRUNCATE - 관계 ( 테이블 )에서 데이터를 제거한다. ( 한번 삭제시 돌이킬 수 없음.)

In [71]:
import sqlite3
import os
dp_path = os.getenv("HOME")+'/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")

#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varcharm, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
# 입력할 데이터를 그대로 입력

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")

data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()

마지막 INSERT INTO 도서명 VALES (?, ?) 부분은 각 테이블의 변수(도서ID, 도서명)에 2번에서 입력한 데이터(data)를 넣겠다는 뜻입니다. 이렇게 ?를 사용해서 데이터를 쿼리에 바인딩하는 기법을 매우 흔히 사용하니 잘 알아둡시다.

데이터 조작 언어 - ( DML : Data Manipulation Language ) 

 └ 테이블에 데이터 검색, 삽입, 수정, 삭제하는 데 사용하며 SELECT, UPDATE, DELETE, INSERT문 등이 있다.

- SELECT - 검색(질의)

- INSERT - 삽입(등록)

- UPDATE - 업데이트(수정)

- DELETE - 삭제

출처: https://zzdd1558.tistory.com/88 [YundleYundle]

In [72]:
# 잘 만들어졌나 조회
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
    print(row)

('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

In [73]:
#- 참고 : 실제 조회를 해보시려면 아래처럼 쓰시면 됩니다.
#- c.execute() 괄호 안에 SQL문을 넣으시면 됩니다.

import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서대출내역'):
  print(row)

#- ! 출력 시 'NULL' 대신 'None'으로 출력될 수 있으나 동일하게 이해하시면 됩니다.

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

In [74]:
for row in c.execute('SELECT ID FROM 도서대출내역'):
  print(row)

('101',)
('101',)
('102',)
('102',)
('103',)
('104',)

In [75]:
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 이름 = "문강태";'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

In [76]:
for row in c.execute('SELECT ID FROM 도서대출내역 GROUP BY 이름;'):
  print(row)

('104',)
('102',)
('101',)
('103',)

In [77]:
# `DISTINCT`를 특정 컬럼 앞에 쓰면 해당 컬럼 값 중에서 중복되는 값들을 모두 제거한 후 출력

for row in c.execute('SELECT DISTINCT ID FROM 도서대출내역;'):
  print(row)

('101',)
('102',)
('103',)
('104',)

In [78]:
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID ;'):
  print(row)
# ASC(오름차순) 생략되어있음. 내림차순은 DESC

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

In [79]:
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID DESC ;'):
  print(row)

('104', '강기둥', None, None, None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

In [80]:
for row in c.execute('SELECT * FROM 도서대출내역 LIMIT 5 ;'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

SELECT 이름, 대출일, 반납일   
FROM 도서대출내역   
ORDER BY 대출일 DESC   
LIMIT 1;

위 쿼리를 출력해보자

In [81]:
for row in c.execute('SELECT 이름, 대출일, 반납일 FROM 도서대출내역 ORDER BY 대출일 DESC LIMIT 1 ;'):
    print(row)

('문강태', '2020-06-20', '2020-06-25')

In [82]:
for row in c.execute('SELECT 이름, COUNT(*) AS 대출건수 FROM 도서대출내역 GROUP BY 이름'):
    print(row)

('강기둥', 1)
('고문영', 2)
('문강태', 2)
('문상태', 1)

# Data type

In [83]:
for row in c.execute('SELECT * FROM 도서대출내역2;'):
    print(row)

('101', '문강태', '2020-06', '20일')
('102', '고문영', '2020-06', '10일')
('103', '문상태', '2020-06', '8일')
('104', '강기둥', '2020-06', '3일')

sqlite에서는 테이블의 데이터 타입 정의를 확인할 수 있도록 pragma table_info('테이블명') 문을 제공.   
 이것은 표준 SQL 쿼리가 아니라 데이터베이스마다 달라지는 유틸리티 쿼리

In [87]:
import os
db_path = os. getenv('HOME')+'mydb.db'
conn = sqlite3.connect(db_path)
c= conn.cursor()

for row in c.execute('pragma table_info(도서대출내역)'):
    print(row)

# (0, 'ID', 'varchar', 0, None, 0)
# (1, '이름', 'varcharm', 0, None, 0)
# (2, '도서ID', 'varchar', 0, None, 0)
# (3, '대출일', 'varchar', 0, None, 0)
# (4, '반납일', 'varchar', 0, None, 0)

In [89]:
# 대출일수 컬럼에서 '일'< 제거한 컬럼 추가

for row in c.execute('SELECT *, SUBSTR(대출일수, 1, (length(대출일수)-1)) AS 대출일수_수정 FROM 도서대출내역2;'):
  print(row)

('101', '문강태', '2020-06', '20일', '20')
('102', '고문영', '2020-06', '10일', '10')
('103', '문상태', '2020-06', '8일', '8')
('104', '강기둥', '2020-06', '3일', '3')

In [91]:
# CAST로 형변환
for row in c.execute('SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 ;'):
  print(row)

('101', '문강태', '2020-06', '20일', 20)
('102', '고문영', '2020-06', '10일', 10)
('103', '문상태', '2020-06', '8일', 8)
('104', '강기둥', '2020-06', '3일', 3)

In [97]:
q = """
SELECT ID, 이름, 대출년월
, AVG(CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT)) AS 대출일수_평균 
FROM 도서대출내역2 
GROUP BY 1,2,3;
"""

for row in c.execute(q):
    print(row)

('101', '문강태', '2020-06', 20.0)
('102', '고문영', '2020-06', 10.0)
('103', '문상태', '2020-06', 8.0)
('104', '강기둥', '2020-06', 3.0)

# 다양한 조건으로 조회

WHERE 절에 AND를 넣어서 조건 추가 가능
1. 특정 문자를 포함하는 row를 가져오고 싶을 때
2. 특정 기간 혹은 특정 날짜의 전 또는 이후의 row를 가져오고 싶을 때
3. 특정 숫자 이상 또는 이하의 row를 가져오고 싶을 때

## 1. 특정 문자를 포함하는 row를 가져오고 싶을 때

In [103]:
# LIKE는 문자열 컬럼에서 사용 가능
# '"문%"'는 '문'으로 시작하는 모든 문자열을 가져오라
# '%문%'으로 조회를 한다면 이름의 시작, 중간, 끝의 어딘가에 '문'이 존재한다면 모두 가져오라는 명령

for row in c.execute('SELECT * FROM 도서대출내역2 WHERE 이름 LIKE "문%" ;'):
  print(row)

# 큰따옴표로 감싸자. 데이터베이스마다 큰따옴표, 작은따옴표 지원 경우를 잘 확인

('101', '문강태', '2020-06', '20일')
('103', '문상태', '2020-06', '8일')

##  2. 특정 기간 혹은 특정 날짜의 전 또는 이후의 row를 가져오고 싶을 때

In [105]:
q = """ 
SELECT * FROM 도서대출내역
WHERE 대출일 >= "2020-06-01"
AND 대출일 <= "2020-06-07" ;
"""

for row in c.execute(q):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

In [106]:
q = """
SELECT * FROM 도서대출내역
WHERE 대출일 BETWEEN "2020-06-01" AND "2020-06-07"
"""

for row in c.execute(q):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

## 3. 특정 숫자 이상 또는 이하의 row를 가져오고 싶을 때

In [111]:
q = """
SELECT *
, CAST (SUBSTR(대출일수, 1, (length(대출일수))-1) AS INT) AS 대출일수_수정
FROM 도서대출내역2
WHERE 대출일수_수정 > 5 ;
"""

for row in c.execute(q):
    print(row)

('101', '문강태', '2020-06', '20일', 20)
('102', '고문영', '2020-06', '10일', 10)
('103', '문상태', '2020-06', '8일', 8)

## NULL 조건 다루는 방법

In [113]:
q = """
SELECT * FROM 도서대출내역
WHERE 반납일 IS NOT NULL ;
"""

for row in c.execute(q):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

In [115]:
q = """
SELECT * FROM 도서대출내역
WHERE 반납일 IS NULL ;
"""

for row in c.execute(q):
    print(row)

('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('104', '강기둥', None, None, None)

In [119]:
q = """
SELECT * 
FROM 도서대출내역
WHERE 이름 LIKE "%태"
AND 대출일 >= "2020-06-19"
AND ID < 102
AND 반납일 IS NOT NULL ;
"""

for row in c.execute(q):
    print(row)

('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

# JOIN

- INNER JOIN : A 테이블과 B 테이블의 교집합을 조회
- LEFT JOIN : (기준은 A 테이블) A 테이블을 기준으로 해서 B 테이블은 공통되는 부분만 조회
- RIGHT JOIN : (기준은 B 테이블) B 테이블을 기준으로 해서 A 테이블은 공통되는 부분만 조회
- FULL JOIN : A 테이블과 B 테이블 모두에서 빠트리는 부분 없이 모두 조회

In [120]:
import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

In [125]:
# SELECT * FROM 대출내역 ;
# SELECT * FROM 도서명 ;

print('대출내역 테이블')
for row in c.execute('SELECT * FROM 대출내역;'):
  print(row)
print('')
print('도서명 테이블')
for row in c.execute('SELECT * FROM 도서명;'):
  print(row)

대출내역 테이블
('101', '문강태', 'aaa')
('102', '고문영', 'bbb')
('102', '고문영', 'fff')
('103', '문상태', 'ccc')
('104', '강기둥', None)

도서명 테이블
('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

JOIN의 기본 구문   

SELECT 컬럼1, 컬럼2, 컬럼3... FROM A테이블 AS A   
{INNER/LEFT/RIGHT/FULL OUTER} JOIN B테이블 AS B    
ON A.결합컬럼 = B.결합컬럼   
WHERE ~

In [129]:
# 1. inner join

query = '''
SELECT A.*, B.도서명
FROM 대출내역 AS A
INNER JOIN 도서명 AS B
ON A.도서ID = B.도서ID
'''

for row in c.execute(query):
    print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('103', '문상태', 'ccc', '공룡백과사전')